// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3744B8;
$yellow: #FFE548;
$vermilion: #E82D10;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$yellow-baiku: #FFE548;
$dark-gray: #A9A9A9;
