// Define variables for your color scheme

// For example:
$red: #DD4055;
$black: #121417;
$blue: #1B6EC0;
$yellow: #FFE548;
$yellow-hover: #FFE030;
$vermilion: #E82D10;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: #A9A9A9;
$yellow-baiku: #FFEA70;
$black-baiku: #363B44;
$red-marker: #F76A6A;
$white: #FFFFFF;
$white-icon: #EEF0F2;
$blue-carousel: #F2F7FD;
