<div>
  <%= simple_form_for @user do |f| %>
    <%= f.input :parking_id, as: :hidden, input_html: { value: @parking.id } %>
  <% end %>
  <%= simple_form_for @user do |f| %>
    <%= f.input :parking_id, as: :hidden, input_html: { value: nil } %>
  <% end %>
</div>