<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= img_path %>);">
  <div class="container">
    <h1 class="banner text-center"><%= parking %></h1>
  </div>
</div>
