<div class='container mt-5 text-center'>
  <h1>The BAIKU Team</h1>
  <img class='about-pic' src="../../assets/images/group_photo.jpeg" alt="Photo of Team BAIKU">
  <div class="about-info">
    <p>This is the final project built at Le Wagon Tokyo by Team BAIKU. Members include Lena, Jose, Kenn and Allan.</p>
    <p>Copyright ©2021 Team BAIKU</p>
  </div>
</div>
