<div class='container mt-5 text-center'>
  <h1>The Team</h1>
  <%= image_tag "group_photo.jpg", class: 'about-pic' %>
  <div class="about-info">
    <div>
      <p><em>Allan, Kenn, Jose and Lena</em></p>
      <div class="mt-5">
        <p>Built in just 2 weeks, BAIKU is the final group project built at Le Wagon Tokyo by Team BAIKU.</p>
        <p>BAIKU is a community-driven app that shares bicycle parking locations on the streets of your city.</p>
      </div>
    </div>
    <div class="about-copyright">
      <p>Copyright ©2021 Team BAIKU</p>
    </div>
  </div>
</div>
