<div class="container mt-5 text-center">
  <h2>The BAIKU Team</h2>
  <div class="card-about">
    <h2>Lena</h2>
  </div>
  <div class="card-about">
    <h2>Jose</h2>
  </div>
  <div class="card-about">
    <h2>Kenn</h2>
  </div>
  <div class="card-about">
    <h2>Allan</h2>
  </div>
</div>
