<% case parking.average_risk_score %>
<% when nil? %>
<div class="row">
  <div class="gauge">
  </div>
</div>
<% when 1..10 %>
<div class="row">
  <div class="gauge">
    <div class="gauge__meter gauge__meter--10"></div>
  </div>
</div>
<% when 11..20 %>
<div class="row">
  <div class="gauge">
    <div class="gauge__meter gauge__meter--20"></div>
  </div>
</div>
<% when 21..30 %>
<div class="row">
  <div class="gauge">
    <div class="gauge__meter gauge__meter--30"></div>
  </div>
</div>
<% when 31...50 %>
<div class="row">
  <div class="gauge">
    <div class="gauge__meter gauge__meter--40"></div>
  </div>
</div>
<% when 50 %>
<div class="row">
  <div class="gauge">
    <div class="gauge__meter gauge__meter--50"></div>
  </div>
</div>
<% when 51..60 %>
<div class="row">
  <div class="gauge">
    <div class="gauge__meter gauge__meter--60"></div>
  </div>
</div>
<% when 61..70 %>
<div class="row">
  <div class="gauge">
    <div class="gauge__meter gauge__meter--70"></div>
  </div>
</div>
<% when 71..80 %>
<div class="row">
  <div class="gauge">
    <div class="gauge__meter gauge__meter--80"></div>
  </div>
</div>
<% when 81...100 %>
<div class="row">
  <div class="gauge">
    <div class="gauge__meter gauge__meter--90"></div>
  </div>
</div>
<% when 100 %>
<div class="row">
  <div class="gauge">
    <div class="gauge__meter gauge__meter--100"></div>
  </div>
</div>
<% end %>