<div class="container">
  <div class="card-info">
    <%= cl_image_tag(parking.photos.first.key, width: 120, height: 120, crop: :fill, class: "card-info-image") %>
    <h5><%= parking.name %></h5>
    <p><%= parking.address %></p>
    <%= link_to 'View', parking_path(parking.id), class: 'btn-yellow' %>
  </div>
</div>
