<% if parking.price == 'free' %>
  <div data-id = '<%= parking.id %>' id='marker-studio-<%= parking.id %>' class='marker fa-stack' style="vertical-align: top;">
    <i class="fas fa-map-marker fa-stack-1x marker-black"></i>
    <i class="fas fa-bicycle fa-stack-2x bike-yellow"></i>
  </div>
<% elsif parking.price == 'paid' %>
  <div data-id = '<%= parking.id %>' id='marker-studio-<%= parking.id %>' class='marker fa-stack' style="vertical-align: top;">
    <i class="fas fa-map-marker fa-stack-1x marker-blue"></i>
    <i class="fas fa-yen-sign fa-stack-2x yen-blue"></i>
  </div>
<% end %>