<% if parking.price == 'free' %>
  <div data-id = '<%= parking.id %>' id='marker-studio-<%= parking.id %>' class='marker marker-green'><i class="fas fa-map-marker-alt"></i></div>
<% elsif parking.price == 'paid' %>
  <div data-id = '<%= parking.id %>' id='marker-studio-<%= parking.id %>' class='marker marker-blue'><i class="fas fa-map-marker-alt"></i></div>
<% end %>