<% if @parking.reviews.empty? %>
  <div class='container mt-5 text-center'>
    <p>No reviews yet.</p>
    <p>Be the first to leave a review for <%= @parking.name %>!</p>
  </div>
<% else %>
  <div class="owl-carousel owl-theme">
    <% @parking.reviews.each do |review| %>
      <div class='card card-review'>
        <% if review.risk_level == 'safe' %>
          <i class="fas fa-shield-alt thumbs-up"></i>
        <% else %>
          <i class="fas fa-exclamation-triangle thumbs-down"></i>
        <% end %>
        <p><%= "Reviewed by #{review.user.name}" %></p>
        <p><em><%= review.comment %></em></p>
      </div>
    <% end %>
  </div>
<% end %>