<div class="container">
  <%= render "search_form" %>
  <div class=" " id="map"
     style="width: 100%; height: 760px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="card">
      <% @parkings.each do |parking| %>
        render 'info_window'
      <% end %>
    </div>
  </div>
</div>