.banner {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-image {
  width: 100%;
  height: 812px;
  background-position: center;
}

.banner .banner-text {
  margin-top: 240px;
}

.banner .banner-text h3 {
  color: $white;
}

.banner .banner-logo {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.banner a {
  text-decoration: none;
}

.banner h5 {
  color: $white;
  i {
    color: $yellow;
  }
}

.banner i {
  margin-right: 4px;
}