.btn-show {
  width: 285px;
  height: 54px;
  border-radius: 8px;
}

.btn-direction {
  
}

.btn-yellow {
  background-color: $yellow;
  padding: 8px 16px;
  border-radius: 8px;
  opacity: .85;
  transform: opacity 500ms ease;
  &:hover {
    opacity: 1;
  }
}
