.btn-show {
  border-radius: 8px;
  background-color: $yellow;
  width: 100%;
  margin-top: 12px;
  line-height: 40px;

}

.btn-container {
  background-color: $white;
}

.btn-yellow {
  background-color: $yellow;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  p {
    color: $black;
  }
  a {
    text-decoration: none;
  }
  #modal-button {
    padding: 0px;
  }
}

.btn-yellow-index {
  background-color: $yellow;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  p {
    color: $black;
  }
  a {
    text-decoration: none;
  }
  #modal-button {
    padding: 0px;
  }
}

.btn-add {
  width: 100%;
}

.btn-cancel {
  width: 100%;
  color: white;
  background-color: gray;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  p {
    color: $black;
  }
  a {
    text-decoration: none;
  }
  #modal-button {
    padding: 0px;
  }
}

.btn-about {
  color: white;
  background-color: $dark-gray;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  p {
    color: $black;
  }
  a {
    text-decoration: none;
  }
  #modal-button {
    padding: 0px;
  }
}

.btn-yellow-log {
  background-color: $yellow;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  p {
    color: $black;
  }
  a {
    text-decoration: none;
  }
  #modal-button {
    padding: 0px;
  }
}
