.card-show-info {
  margin: 16px 0px 0px 0px;
  h4 {
    margin: 0px 0px 12px 0px;
  }
  p {
    margin: 0px 0px 8px 0px;
  }
  i {
    margin: 0px 8px 0px 0px;
  }
}

.card-show-carousel {
  margin: -8px 0px 8px 12px;
}

.card-carousel {
  margin: -16px 0 0 0;
}
.card-review {
  width: 344px;
  margin: 16px 0px 8px 4px;
  padding: 16px 16px 0px 16px;
  p {
    margin: 0px 0px 8px 0px;
  }
  i {
    margin: 0px 6px 0px 0px;
  }
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.star-yellow {
  color: $yellow;
}

.star-black {
  color: #D0D0D0;
}

.star-yellow-sm {
  color: $yellow;
  font-size: 12px;
}

.star-black-sm {
  color: #D0D0D0;
  font-size: 12px;
}