.card-show-info {
  margin-top: 16px;
  h4 {
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 8px;
  }
  i {
    margin-right: 8px;
  }
}

.card-carousel {
  position: fixed;
  bottom: 65px;
}

.card-index {
  display: flex;
  flex-direction: row;
  height: 144px;
}

.card-name {
  overflow: hidden;
}

.card-details {
  width: 231px;
  height: 100%;
}

.card-risk-label {
  font-size: 10px;
  color: $black;
}

.card-risk-score-container {
  position: relative;
}

.card-risk-score {
  position: absolute;
  bottom: 3px;
  left: 39px;
  z-index: 1;
}

.card-index-review {
  font-size: 14px;
}

.card-action {
  p {
    font-size: 32px;
  }
  a {
    text-decoration: none;
  }
}

.card-review {
  padding: 16px;
  margin: 16px;
  p {
    margin-bottom: 8px;
  }
  i {
    margin-right: 6px;
  }
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.card-notification {
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-profile {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid grey;
  box-shadow: 1px 1px 3px grey;
  h1 {
    margin-bottom: 16px;
  }
}

.card-about {
  padding: 16px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}