.form-container {
  width: 100%;
  padding: 24px;
  margin-right: auto;
  margin-left: auto;
  h2 {
    margin-bottom: 12px;
  }
  h5 {
    margin-bottom: 48px;
  }
}

.form-check {
  display: inline-block;
  margin-right: 16px;
  background-color: #fff19e;
  width: 140px;
  padding: 8px;
  border-radius: 16px;
  text-align: center;
}

.form-check:hover {
  background-color: $yellow-baiku;
}

.form-check:active {
  background-color: $yellow-baiku;
}

.form-check-input {
  visibility: hidden;
}

.submit-buttons {
  margin-top: 40px;
}

.price-buttons {
  align-items: center;
}
