#map {
  position: relative;
  z-index: 0;
}

.map-search {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
  form {
    .map-text-input {
      width: 252px;
      margin-right: 4px;
      border-radius: 8px;
      padding: 8px 12px;
    }
  }
}