
.marker-blue {
  font-size: 40px;
  color: $blue;
}

.yen-blue {
  font-size: 20px;
  color: $white;
}

.marker-black {
  font-size: 40px;
  color: $black;
}

.bike-yellow {
  font-size: 20px;
  color: $yellow;
  bottom: 6px;
}

.animate {
  animation: updown 2s ease-out infinite;
}


@keyframes updown {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}
