.thumbs-down {
  position: absolute;
  font-size: 24px;
  right: 8px;
  top: 8px;
  color: #E60026;
}

.thumbs-up {
  position: absolute;
  font-size: 24px;
  right: 8px;
  top: 8px;
  color: #1CAC78;
}
