<!-- Button trigger modal -->
<div class="btn-yellow text-center ml-2" style="width: 100%;" data-toggle="modal" data-target="#review">
  <i class="far fa-edit"></i> Review
</div>
<!-- Modal -->
<div class="modal fade p-2" id="review" tabindex="-1" aria-labelledby="reviewLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewLabel">How did you find this spot?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body rounded p-3">
        <%= render 'reviews/form' %>
      </div>
    </div>
  </div>
</div>
