<div class='container card mt-3 pt-3'>
  <p><%= "Reviewed by #{review.user.name}" %></p>
  <p><em><%= review.comment %></em></p>
  <p><i class="fas fa-star"></i><%= "#{review.rating} out of 5" %></p>
</div>
