<% total = 0 %>
<div class='container card mt-3'>
  <p><%= "Name: #{review.user.name}" %></p>
  <p><%= "Comment: #{review.comment}" %></p>
  <p><%= "Rating: #{review.rating}" %></p>
  <% total += review.rating %>
</div>
